*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*para que el tamaño de la caja no cambie*/
    
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.barraNavegacion{
    width: 100%;
    height: 7vh;
    padding: 13px;
    /*background-color:#36B997;*/
}

.boton{
    color: #fff;
    text-decoration: none;
    margin: 20px 10px;
    font-size: 20px;
    font-weight: 600;
}

.boton:hover{
    
    text-decoration: underline;
}
.section{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0.1px; /*para que no se mueva la imagen*/
}
.section2{
    width: 100%;
    height: 10vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0.1px; /*para que no se mueva la imagen*/
}

.sect1{
  
    background-image: url(imagenes/pexels-max-fischer-5212653.jpg);
    
}
.headerNavegation{
    background-color: #3592C3;
}

.tituloH1{
    background-color:#36B997;
    color:#3740CB;
    width: 70vw;
    height: 100px;
    margin: auto;
    text-align: center;
    line-height: 100px ;
    margin-top: calc(50vh - 50px); /*50vh xq es la mitad de lo que mide la pantalla y 50px xq es la mitad de lo que mide la caja donde esta el titulo*/
    border-radius: 15px;
    font-size: 50px;
}

.sect2{
    
    background-color: #3592C3;
    padding: 60px 30px;
}



.tituloH2{
    text-align: center;
    color:#3740CB;
    margin-bottom: 20px;
    font-size: 40px;
}

.parrafoS2, .parrafoS3{
    text-align: justify;
    font-style: italic;
    font-size: large;
    font-weight: 400;
    color: #FFF;
}

.parrafoS2>p{
    width: 70%;
    display: block;
}

.sect3{
    padding: 20px 30px;
    background-image: url(imagenes/pexels-julia-m-cameron-4144294.jpg);
}

.sect5{
    padding: 20px 30px;
    background-image: url(imagenes/pexels-max-rahubovskiy-6180740.jpg);
    
}


.sect3>.tituloH2, .sect5>.tituloH2{
    width: 100%;
    color: #3740CB;
    font-size: 40px;
    background-color: #36B997;
    border-radius: 15px;
    padding: 10px 5px;
    width: 45vw;
    margin: auto;
}

.contacto{
    height: 140vh;
}

.metodo{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 60px auto;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.metodologia{
    display: flex;
    color: #fff;
    background-color: #3592C3;
    width: 250px;
    margin:  10px 20px;
    font-size: 25px;
    font-weight:600;
    border-radius: 15px;
    padding: 20px;
    border:3px solid #36B997;
}

.metodologia:hover{
    background-color: #fff;
    color: #3592C3;
}


.botonFooter{
    color: #FFF;
    text-decoration: none;
    
     
}

.botonFooter:hover{
    color: #3740CB;
    text-decoration: underline;
    font-weight: 600;
}


.formularioContacto{
    width: 30%;
    margin: 50px auto;
}

.formInput{
    width: 100%;
    margin-top: 10px;
    padding: 30px;
    border-radius: 15px;
    border: none;
    color:#36B997;
    font-weight: 600;
    
}

.formBoton{
    padding: 12px 40px;
    background-color: #3592C3;
    border-radius: 7px;
    margin: 15px auto;
    color:#FFF;
    font-weight: 600;
    border: none;
    width: 55%;
    transition: transform .4s;
    display: flex;
    justify-content: center;
    
}

.formBoton:hover{
    
    color: #FFF;
    cursor: pointer;
    transform: scale(1.15);

}

.formInput::placeholder{
    color: black;
}

.sect4{
    
    background-color: #3592C3;
    padding: 30px 30px;
    height: min-content;
}
footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer .mapa{
    width: 30%;
    display: flex;

    
}
.footer .navigation{
    width: 30%;
    display: flex;

    
}

.footerRRSS{
    display: flex;
    align-items: center;
    flex-flow: column
    
}

.footerRRSS h3{
    width: 100%;
}
.tituloH3{
    color:#3740CB;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}
.rrss{
    margin: 10px;
}

.rrss img{
    width: 36px;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,50%);
    
}
.asignaturas{
    width: 95%;
    height: 60vh;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 45%);
    justify-content: center;
    gap: 10px;
 }

.asignatura{
    background-color: #3592C3 ;
    color: #FFF;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
}
 .asignatura:hover{
    background-color: #fff;
    color:#3592C3
 }
 .foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #3592C3;
    border-radius: 15px;
 }

 .foto:hover{
    border:4px solid #fff;
 }

 /*-----FORMULARio REGISTRO---*/

 .body-form{
    width:100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .grid-container{
    width: 90%; 
    max-width: 1400px;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "navegador navegador navegador"
    "image image formulario"
    "footer footer footer";
    background-color: #fff;
 }
 
 .contenedor-image{
     grid-area: image;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     
 }

 .img-form{
    width: 80%;
 }

 .contenedor-form{
    grid-area: formulario;
    align-self: center;
    text-align: center;

}

.footer-form{
    grid-area: footer;
    align-self: center;
    text-align: center;
    margin-top: 20px;
}

.contenedor-nav{
    grid-area: navegador;
    margin-bottom: 20px;
}

.input{
    font-family: inherit;
    display: inline-block;
    width: 65%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #c0bbbb;
    padding: 3px 0 10px 30px;
}
.group-input{
    position: relative;
    width: 90%;
    margin: 40px auto 0 auto;
    font-family: inherit;
}
.icono{
    position: absolute;
    bottom: 10px;
}

input{
    font-family: inherit;}

.submit{
display: inline-block;
margin-top: 40px;
color:#fff;
border: none;
outline: none;
background:#3592C3;
padding: 15px 20px;
cursor:pointer;
border-radius: 5px;
transition: transform .4s;
}

.submit:hover{
    transform: scale(1.1);
}

.contacto-form{
    font-weight: 300;
    margin-bottom: 20px;
}

.sect6{
    background: #3592C3;
    padding: 18px;
}
 
/*----CURSOS-----*/
.grid-container-card{
    width:95%;
    margin: 40px auto 0 auto;
    display: grid;
    grid-template-areas: 
    "navegador navegador navegador"
    "principal principal principal "
    "footer footer footer";

}
.container-cards{
    grid-area: principal;
    width: 90%;
    display: grid;
    justify-content: space-evenly;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(180px,300px));
    margin: auto;
}
.item{
    text-align:center;
    overflow: hidden;
    height: auto;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, .25);

}

.img-card{
    width: 100%;
    display: block;
    height: 300px;
    object-fit: cover;
}
.contendor-texto{
    width: 100%;
    padding: 20px 0 30px 0;
}

.title-card{
    font-weight: 700;
    margin-top: 15px;
}

.card-copy{
    font-weight: 300;
    margin: 8px 0 16px 0;

}

.cta{
    background:#3592C3;
    display: inline-block;
    padding: 15px 50px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: transform .4s;
}

.cta:hover{
    transform: scale(1.1);
}



